
ul {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-inline-start:0;
}

@media screen and (max-width: 500px) {
  ul {
    width: 80%;
  }
}